body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    min-height: 100vh;
}

.container > h1 {
    color: white;
}
