@import '_main';

.navbar-container {
    background: $color-background;
    z-index: 1000;
    width: 100%;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

.navbar-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-layout nav.bottom-navbar {
    display: none;
}

.lum-logo {
    object-fit: contain;
}
