@import '_main';

.layout {
    min-height: calc(100vh - 122px);
}

.section-image-bg {
    width: 383px;
    height: 383px;
    object-fit: contain;
}

.section-image {
    width: 230px;
    height: 230px;
    object-fit: contain;
}

@include media-breakpoint-down(md) {
    .section-image-bg {
        width: 280px;
        height: 280px;
    }
    .section-image {
        width: 160px;
        height: 160px;
    }
}
