@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'worksans';
@import 'firasans';
@import 'gothamrounded';
@import 'locomotive-scroll';

// primary font
$primary_font: 'Fira Sans';

// Font Weights
$extralight: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 700;
$black: 900;

// Colors
$color-dark: #2a2c38;
$color-light: white;
$color-primary: white;
$color-black: #1c2227;
$color-grey: #b5b5b5;
$color-green: #3BC849;

// DEPRECATED
$color-background: black;
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$primary-fs: 1rem;
$font-md: 1.1rem;
$font-lg: 1.3rem;
$font-xl: 1.6rem;
$font-xxl: 1.875rem;
