@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'worksans';
@import 'firasans';

// primary font
$primary_font: 'Fira Sans';

// Font Weights
$extralight: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 700;
$black: 900;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 25px;
$font-xxl: 30px;

// Colors
$color-background: black;
$color-primary: white;
$color-grey: #b5b5b5;
$color-green: #3bc849;

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}

.white-section {
    background-color: $color-primary;
    color: $color-background;
}

.green-title {
    color: $color-green;
}

.green-dot {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: $color-green;
}

.main-layout {
    background-color: $color-background;
    color: $color-primary;
}

.main-layout-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    padding-left: 5rem;
    padding-right: 5rem;
}

.loading-container {
    background-color: $color-background;
}

.loading-bar-container {
    width: 318px;
}

.lum-logo {
    margin-right: -5rem;
}
