@import '_main';

.landing-container {
    padding-top: 122px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        padding-top: 82px;
    }
}

.arrow-icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-icon {
    object-fit: contain;
}

.scale-anim {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

.lum-logo {
    height: 588px;
    width: 588px;
    object-fit: cover;
}

@include media-breakpoint-down(lg) {
    .lum-logo {
        height: 438px;
        width: 438px;
        margin-right: -2rem;
    }
}
@include media-breakpoint-up(xl) {
    .lum-logo {
        margin-right: -5rem;
    }
}

@include media-breakpoint-down(sm) {
    .lum-logo {
        height: 288px;
        width: 288px;
    }
}
