@import '_main';

section#trustedby {
    min-height: auto;
    padding: 140px 0px;

    @include media-breakpoint-down(lg) {
        padding: 72px 0px 0px 0px;
    }
}

#trustedby h1 {
    font-style: normal;
    font-weight: $bold;
    font-size: 2.625rem;
    line-height: 3.125rem;
    padding: 0;
    margin: 0;
    margin-bottom: 44px;
}

#trustedby a.partner {
    display: flex;
    flex: 0 1 0;
    height: 72px;
    cursor: pointer;
    transition: all 300ms linear;
    margin-bottom: 44px;
    margin-right: 44px;

    @include media-breakpoint-down(md) {
        height: 56px;
        margin-bottom: 24px;
        margin-right: 24px;
    }
}

#trustedby a.partner:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#trustedby a.partner img {
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: 256px;
    object-fit: contain;

    @include media-breakpoint-down(md) {
        max-width: 172px;
    }
}
