@import '_main';

#welcome {
    justify-content: space-between;
}

#welcome-content {
    opacity: 0;
}

#welcome .glowing-bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 2;
    cursor: pointer;
    pointer-events: all;
    transition: 100ms all linear;
    opacity: 0;
}

#welcome .glowing-bubble.pop {
    transform: scale(1.02);
}

#welcome .glowing-bubble .glow {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(44.25% 44.25% at 50% 50%, #ffffff 0%, rgba(255, 255, 159, 0) 100%);
    opacity: 0.7;
    filter: blur(64px);
    transition: 0.3s all linear;
}

#welcome .glowing-bubble .glow.pop1 {
    transform: scale(1.3);
    opacity: 0.725;
}

#welcome .glowing-bubble .glow.pop2 {
    transform: scale(1.4);
    opacity: 0.75;
}

#welcome .glowing-bubble .glow.pop3 {
    transform: scale(1.5);
    opacity: 0.775;
}

#welcome .glowing-bubble .glow.pop4 {
    transform: scale(1.75);
    opacity: 0.825;
}

#welcome .glowing-bubble .glow.pop5 {
    transform: scale(2);
    opacity: 0.9;
}

#welcome .glowing-bubble img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    transition: 200ms all ease-in-out;
}

#welcome .glowing-bubble img:hover {
    transform: translate(-50%, -50%) scale(1.02);
}

#welcome .glowing-bubble img:active {
    transform: translate(-50%, -50%) scale(1.1);
}

#welcome svg {
    margin-right: 50px;
}

#welcome h1 {
    font-style: normal;
    font-weight: $bold;
    font-size: 6rem;
    line-height: 7rem;
    padding: 0;
    margin: 0;
    z-index: 2;
}

#welcome p {
    font-style: normal;
    font-weight: $light;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 2;
}

#welcome .scroll-cta-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    text-decoration: none;
    color: $color-primary;
    opacity: 0;
}

#welcome .arrow-icon-container {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#welcome .arrow-icon {
    object-fit: contain;
}

#welcome .dot {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 10%;
    opacity: 0;
    animation: dotAppearIn 0.5s linear forwards;
    z-index: 1;
}

#welcome .dot .dot-inner-layer-1,
#welcome .dot .dot-inner-layer-2,
#welcome .dot .dot-inner-layer-3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fffea2;
}

#welcome .dot .dot-inner-layer-1 {
    filter: blur(2px);
}

#welcome .dot .dot-inner-layer-2 {
    opacity: 0.2;
    filter: blur(9px);
}

#welcome .dot .dot-inner-layer-3 {
    opacity: 0.8;
    filter: blur(14px);
}

#welcome svg {
    position: absolute;
    right: 100px;
    top: 50%;
    width: 100vw;
    transform-origin: top right;
    transform: translateY(-50%) scaleX(1.1);
    opacity: 0;
    z-index: -1;
}

@keyframes dotAppearIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
