@import '_main';

footer {
    opacity: 0;
    margin-top: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    @include media-breakpoint-down(lg) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

footer .form-control,
footer .form-control:focus {
    background-color: $color-dark !important;
    color: white !important;
    &::placeholder {
        color: $color-primary !important;
    }
}

footer .footer-link {
    color: $color-grey !important;
    margin-bottom: 0 !important;
    padding-bottom: 14px;
}

footer p.footer-link {
    font-size: 0.875rem;
}

footer .github-icon {
    filter: brightness(0) invert(1);
    object-fit: contain;
}

footer .color-error {
    color: #ff7245;
}
