@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'variables';

#mainnet {
    opacity: 0;
    justify-content: space-between;
    min-height: max(760px, 100vh);
}

#mainnet-content {
    z-index: 2;

    @include media-breakpoint-down(lg) {
        margin-top: 20px;
        padding-bottom: 60px;
    }
}

#mainnet .bg-blue {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(18, 9, 9, 0) 22.13%,
        rgba(255, 255, 255, 0.53) 52.46%,
        rgba(255, 255, 255, 0) 78%
    );

    @include media-breakpoint-down(lg) {
        top: 20%;
    }
}
