@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'variables';

.mainnet {
    opacity: 0;
    height: max(1050px, 100vh);
    text-align: center;
    justify-content: start;
    font-family: 'Fira Sans';

    color: white;
    background: linear-gradient(
        99.75deg,
        #1b1d56 6.16%,
        #1d2265 28.58%,
        #242974 41.08%,
        #464ecb 56.06%,
        #3b41bb 66.62%,
        #1c2470 80.18%,
        #1c1d61 93.81%
    );

    padding-top: 180px;
    @include media-breakpoint-down(lg) {
        padding-top: 110px;
    }
}

.mainnet-title {
    margin-bottom: 80px;
    letter-spacing: 0.14rem;
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
    }
}

.mainnet-content {
    @include media-breakpoint-down(lg) {
        margin-top: 20px;
        padding-bottom: 60px;
        z-index: 100;
    }
}

.bg-blue {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;

    @include media-breakpoint-down(lg) {
        top: 20%;
    }
}

.number {
    font-size: 12rem;
    font-weight: 200;
    @include media-breakpoint-down(lg) {
        font-size: 8rem;
    }
}

.label {
    letter-spacing: 0.25rem;
    font-weight: 300;
}

.bottomContainer {
    left: 50%;
    transform: translateX(-50%);
}

.ringContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.ring {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 3px white);
    /* width: 90vw;
    height: 90vw; */
}

.ringCircle {
    animation: lineAnimation 1s linear infinite;
}

.planetIllu {
    object-fit: contain;
    min-width: 1000px;
    max-width: 1800px;
    z-index: 0;
    @include media-breakpoint-up(lg) {
        //transform: translateY(10%);
        z-index: inherit;
    }
}

@keyframes lineAnimation {
    to {
        stroke-dashoffset: 0;
    }
}
